.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form div {
    margin: 5%;
    justify-content: space-around;
}

.form label {
    margin-right: 5%;
}