.header {
    background-color: #0e3fa9;
    border-bottom: 2px solid #ffaa02;
    top: 0;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    margin-left: 0.8rem;
    font-size: 2rem;
    color: #ffaa02;
    font-weight: 500;
}

.header nav {
    margin-right: 5%;
}

.header a {
    text-decoration: none;
    color: #ffaa02;
    padding-inline: 0.5rem;
    font-size: 1rem;

}